* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

*::selection {
  background: #7447e0;
  color: white;
}

#trackerImg {
  /* position: absolute; */
  transform: translate(0%, 0%);
  transition: all 0.01s;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* .navbar-nav .nav-link.active:hover, .navbar-nav .show>.nav-link:hover {
  border-bottom: 1px solid black;
} */

.heroBannerHeader {
  font-size: 11.25rem;
}

.heroBannerSubHeader {
  font-size: 4.5rem;
}

.heroBannerSpan {
  font-size: 1.125rem;
}

.imgFigure {
  width: 50px;
  height: 50px;
}

.trustedCompanyHeader {
  font-size: 1.5rem;
}

.trustedCompanyImg {
  min-width: 110px;
}

.ourWorkMain {
  background-color: #262626;
  color: #ffffff;
}

.ourWorkHeader {
  font-size: 7.5rem;
}

.dCircle {
  background-color: #224afa;
  height: 220px;
  width: 220px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.positionDRelative {
  position: relative;
}

.positionDAbsolute {
  position: absolute;
  top: 0%;
  left: -110px;
}

.assecoImgContainer {
  width: 678px;
  height: 678px;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  padding: 0%;
}

.nav-item {
  padding: 8px;
  margin: 0 10px;
}

.nav-link:hover, .nav-item:hover, .nav-link.active:hover {
  color: #7447e0;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: #7447e0;
  transition: width 0.3s;
}

.nav-item:hover::after { 
  width: 100%;
}

.animate {  
  translate: none;
  rotate: none;
  scale: none;
  /* transform: translate(0%, 0%) translate3d(0px, 0px, 0px); */
  /* animation: name infinite timing-function 0s infinite infinite infinite; */
}

.assecoImg {
  height: 678px;
}

.marginTopOurWork {
  margin-top: 8rem;
}

.marginBottomOurWork {
  margin-bottom: 8rem;
}

.ourWorkSubHeading {
  font-size: 2.25rem;
}

.ourWorkLastHeading {
  font-size: 3.25rem;
}

.decode {
  color: #7447e0;
}

@media (max-width: 1024px) {
  .customWidth {
    width: 100% !important;
  }
}
